@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

.page.create,
.my-page-container {
    max-width: 800px;
    margin: 0 auto;
}

.my-page-container {
    margin-left: 280px;
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: -7px
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="date"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 25px;
}

button {
    padding: 10px 20px;
    background-color: #FFA533;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Poppins';
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    height: 60px;
}

button:hover {
    background-color: #BF863D;
}

.error {
    color: red;
    margin-top: 5px;
}

.add-prod-b {
    background-color: #FB6D48;
    width: 130px;
    padding: 0;
    font-size: 17px;
    height: 40px
}

.add-prod-b:hover {
    background-color: #C14E30;
}

.select-wrapper {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.select-wrapper.p {
    padding: 10px 25px 10px 0;
}

.select-wrapper select {
    height: 40px;
    margin-left: 20px;
    font-family: 'Poppins';
    margin-right: 50px;
    border-radius: 5px;
}

.rem-b {
    width: 40px;
    height: 40px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 90px;
    background-color: white;
}

.rem-b:hover {
    background-color: #C4C8C3;
}

.select-wrapper .q {
    margin-left: 15px;
}

input#check_number,
input#total_sum {
    max-width: 40%;
    margin-left: 20px;
    margin-top: 20px;
}

.my-page-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.employee-details {
    width: 70%;
}

.employee-info {
    margin-bottom: 20px;
}

.employee-image {
    width: 300px;
}

.change-password {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.change-password input[type="password"] {
    max-width: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: 'Poppins';
}

.change-password button {
    max-width: 150px;
    margin-bottom: 10px;
    font-family: 'Poppins';
    font-size: 15px;
}

.success {
    color: green;
}

#empl_role {
    height: 40px;
    font-family: 'Poppins';
}