.link-create-new {
    color: #333333;
    text-decoration: none;
    font-weight: bold;
}

.create-new-container {
    width: fit-content;
    padding: 12px 10px 10px 10px;
    margin-bottom: 10px;
    border: solid 1px #333333;
    border-radius: 3px;
}

.create-new-container:hover {
    background-color: #ddd;
}

nav {
    background-color: #333;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout {
    padding-top: 10px;
    display: flex;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
    padding-left: 260px;
}

nav h1 {
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

nav a:hover {
    color: lightgray;
}

nav p {
    color: white;
    margin-top: 10px;
    margin-right: 20px;
}